<!doctype html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Integrahub :: {{title}}</title>
    <link rel="icon" type="image/svg" href="assets/img/favicon.svg" />
    <!--Core CSS -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link
      id="theme-sheet"
      rel="stylesheet"
      href="{{root}}assets/css/core.css"
    />
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//integrahub-matomo.azurewebsites.net/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body class="is-theme-core">
    {{> body}} {{> backtotop}}
    {{> footer-side-dark}}
    <script src="{{ root }}assets/js/app.js"></script>
    <script src="{{ root }}assets/js/core.js"></script>
  </body>
</html>
